:root {
    --primary-color: #0D0C0C;
}
body {
    margin: 0;
}
/* Header */
.container {
    width: 1170px;
    margin: auto;
}
.visible-xs {
    display: none;
}
.line {
    clear: both;
    margin: 35px 0;
    border-bottom: 1px solid #E8E8E8;
}
.menu {
    display: flex;
    align-items: center;
    height: 74px;
    justify-content: space-between;
}
.header-left {
    display: flex;
    gap: 16px;
    align-items: center;
}
.header-right, .menu-content {
    display: flex;
    gap: 16px;
    align-items: center;
}
.hamburger-menu {
    display: none;
}
.menu-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    color: var(--primary-color);
}
.menu-text:hover {
    border-bottom: 4px #000000 solid;
}
.search {
    position: relative;
    margin: auto;
    color: #B0B0B0;
    width: 126px;
    height: 26px;
    border-bottom: 1px #AAAAAA solid;
}
.search input {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    width: 126px;
}
.search input:focus, .search input:focus-visible {
    border: none;
    outline: none;
}
.search input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #B0B0B0;
}
.search button {
    border: none;
    background: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 0 !important;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.language {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    background: #F5F5F5;
    color: var(--primary-color);
    width: 145px;
    height: 36px;
    display: flex;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    align-items: center;
    justify-content: center;
}
/* Main */
.banner {
    display: grid;
}
.title {
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29.05px;
    text-align: center;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 35px 0 30px;
}
.title a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    color: #BBBBBB;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.grid-container {
    justify-items: center;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 25px;
    justify-content: space-evenly;
}
.product {
    cursor: pointer;
    display: grid;
    gap: 5px;
}
.block-img {
    position: relative;
}
.product-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: left;
    color: var(--primary-color);
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.product-price {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: var(--primary-color);
}
.product-price-discount {
    color: #BABABB;
    margin-left: 15px;
}
.card-product {
    display: grid;
    justify-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff4d;
    border-radius: 5px;
    padding: 20px;
    z-index: 10;
    width: 80%;
    margin: auto;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 10;
}
.product:hover .card-product {
    opacity: 1;
    transform: translateY(0);
}
.btn-buy {
    cursor: pointer;
    background: #000000;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #FFFFFF;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    letter-spacing: 0.29em;
    text-align: center;
}
.selected {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
.btn-size {
    padding: 8px;
}
.size {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.line-word {
    background-color: #BABABB;
    border-bottom: 2px solid #BABABB;
    height: 0px;
    text-align: center;
    padding-left: 5px;
    position: absolute;
    z-index: 2;
    width: 58px;
    margin-top: 7px;
}
.price-installment {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    text-align: left;
    color: #646464;
}
.product-img-api {
    max-height: 250px;
    margin: auto;
}
.product-img {
    max-height: 440px;
    margin: auto;
}
.video-container {
    position: relative;
    width: 80%;
    margin: auto;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container #iframe {
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Footer */
.newsletter {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}
.newsletter-texts {
    width: 300px;
}
.newsletter-texts-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    color: var(--primary-color);
}
.newsletter-texts-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: var(--primary-color);
}
.newsletter-inputs .input-name {
    border: 1px solid #E3E3E3;
    width: 414px;
    height: 48px;
    padding: 0 15px;
    margin-bottom: 15px;
}
.newsletter-inputs .input-email {
    border: 1px solid #E3E3E3;
    width: 309px;
    height: 48px;
    padding: 0 15px;
}
.newsletter-inputs .input-name::placeholder, .newsletter-inputs .input-email::placeholder {
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.second-block-input{
    display: flex;
    gap: 15px;
}
.btn-send {
    border: none;
    width: 95px;
    height: 48px;
    padding: 14px 24px 14px 24px;
    background: #484848;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.btn-send:hover {
    background: var(--primary-color);
}
.social-media {
    display: flex;
    gap: 30px;
    align-items: center;
}
.social-media img {
    transition: transform 0.3s ease;
}
.institutional-links {
    display: flex;
    justify-content: space-between;
}

.institutional-title, .contact-title, .policies-title, .payment-methods-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 15px;
}
.institutional-subtitle, .contact-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #898989;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.contact-subtitle a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.contact-subtitle b {
    font-weight: bold;
    color: var(--primary-color);
}
.policies-subtitle {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.policies-subtitle a, .institutional-subtitle a{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #898989;
    text-decoration: none;
}
.payment-methods {
    width: 290px;
}
.payment-methods-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.payment-methods-icons img {
    flex: 1 0 calc(100% / 7 - 10px);
    margin: 5px;
}
.btn-whatsapp img {
    position: fixed;
    z-index: 10;
    right: 15px;
    bottom: 15px;
}
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.information-text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    width: 580px;
    color: #898989;
}
.developed {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: var(--primary-color);
}
.developed a {
    text-decoration: none;
    color: var(--primary-color);
}

@media (max-width: 1400px) {
    .container {
        width: 1024px;
        margin: auto;
    }
}
@media (max-width: 1170px) {
    .container {
        width: 768px;
        margin: auto;
    }
    .menu-text {
        font-size: 12px;
    }
    .title {
        font-size: 20px;
        gap: 15px;
        margin: 25px 0 20px;
    }
    .product-img-api {
        max-height: 180px;
    }
    .product-img {
        max-height: 340px;
    }
    .product-title {
        font-size: 18px;
    }
    .product-price {
        font-size: 14px;
    }
    .product-price-discount {
        margin-left: 10px;
    }
    .grid-container {
        gap: 19px;
    }
    .card-product {
        padding: 10px;
    }
    .size {
        font-size: 10px;
    }
    .btn-size {
        padding: 3px;
    }
    .line-word {
        width: 52px;
    }
    .newsletter-texts-title {
        font-size: 18px;
    }
    .newsletter-inputs .input-name {
        width: 314px;
    }
    .newsletter-inputs .input-email {
        width: 209px;
    }
    .second-block-input, .social-media {
        gap: 10px;
    }
    .newsletter {
        gap: 25px;
    }
    .institutional-title, .contact-title, .policies-title, .payment-methods-title {
        font-size: 17px;
    }
    .policies-subtitle a, .institutional-subtitle a, .institutional-subtitle, .contact-subtitle {
        font-size: 11px;
    }
    .information-text, .developed {
        font-size: 10px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 520px;
        margin: auto;
    }
    .visible-xs{
        display: block;
    }
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .menu-content {
        display: none;
        position: absolute;
        top: 50px;
        background: #d3d3d3;
        border-radius: 5px;
        right: 123px;
        width: 200px;
        padding: 10px;
        text-align: right;
    }
    .menu-content.active {
        display: block;
    }
    .search {
        width: 100%;
        margin-bottom: 7px;
    }
    .search input {
        width: 100%;
    }
    .language {
        width: 100%;
        margin-top: 7px;
    }
    .menu-content-a {
        margin-bottom: 7px;
        display: flex;
        color: var(--primary-color);
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        align-items: center;
        gap: 10px;
    }
    .newsletter-texts {
        width: 100%;
    }
    .grid-container {
        grid-template-columns: 48% 48%;
    }
    .newsletter {
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
    .newsletter-inputs .input-name {
        width: 94%;
    }
    .payment-methods {
        width: auto;
    }
    .institutional-links {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 20px;
    }
    .payment-methods-icons img {
        flex: 1 0 calc(100% / 7 - 10px);
        margin: 5px;
        max-height: 30px;
    }
}
@media (max-width: 520px) {
    .container {
        width: auto;
        margin: 0 15px;
    }
    .line {
        margin: 15px 0;
    }
    .header-left {
        gap: 10px;
    }
    .menu-content {
        top: 6%;
        right: 4%;
        width: 140px;
    }
    .menu-content-a {
        font-size: 12px;
    }
    .title {
        font-size: 15px;
        gap: 10px;
        margin: 15px 0 10px;
    }
    .title a {
        font-size: 13px;
    }
    .product-title {
        font-size: 16px;
        line-height: 13.44px;
    }
    .product-price {
        font-size: 12px;
    }
    .line-word {
        width: 43px;
    }
    .price-installment {
        font-size: 10px;
    }
    .newsletter-texts-title {
        font-size: 15px;
    }
    .newsletter-texts-text {
        font-size: 13px;
    }
    .newsletter-inputs .input-name {
        margin-bottom: 10px;
        height: 36px;
        width: 90%;
    }
    .newsletter-inputs .input-email {
        margin-bottom: 10px;
        height: 36px;
    }
    .btn-send {
        width: 95px;
        height: 38px;
        display: flex;
        align-items: center;
    }
    .newsletter {
        gap: 10px;
    }
    .institutional-links {
        gap: 10px;
    }
    .payment-methods-icons img {
        flex: 1 0 calc(100% / 7 - 10px);
        max-height: 15px;
    }
    .video-container {
        padding-bottom: 46.25%;
    }
}